* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.Container {
    max-width: 1500px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

.navbar {
    background-color: #ff6900;
    color: white;
    padding: .5rem;
}

header img {
    height: 20%;
    width: 10%;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar ul li {
    margin: .2rem;
}

main {
    padding: 3rem;
}

section.Shop {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

section.Shop > article {
    position: relative;
    width: 200px;
    height: 400px;
    background-color: gray;
    margin: .5rem;
}

article > img {
    position: relative;
    width: 200px;
    height: 400px;
    object-fit: cover;
}

section.Shop article span {
    position: absolute;
    top: .5rem;
    right: 0;
    padding: .5rem;
    background-color: white;
}

p.red {
    position: absolute;
    bottom: 2rem;
    padding: .1rem;
    font-size: small;
    background-color: #ff0000;
    color: white;
}

p.gren {
    position: absolute;
    bottom: 2rem;
    left: 2.2rem;
    padding: .1rem;
    font-size: small;
    background-color: #027f02;
    color: white;
}

#Greensingolo {
    position: absolute;
    bottom: 2rem;
    padding: .1rem;
    font-size: small;
    background-color: #027f02;
    color: white;
}

p.Descrizione {
    font-size: .7rem;
}

p.Descrizione strong {
    text-transform: uppercase;
}

code.Coloreuro {
    color: #ff0000;
}

footer {
    background-color: #1a1a1a;
    padding: 1rem;
    color: white;
}

section.Flexbox {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}

div.Column {
    display: flex;
    flex-direction: column;
}